@model Coursework.producer

@{
    ViewBag.Title = "Delete";
}

<div class="content">
    <h2>Delete Producer detail</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label>First Name</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.first_name)
            </dd>

            <dt>
                <label>Last Name</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.last_name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>

